<!DOCTYPE html>
<html>
<head>
    <title>Vector-Borne Disease Distribution Model</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Vector-Borne Disease Distribution Model</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="zip_file">Select a zip file to upload:</label>
        <input type="file" id="zip_file" name="zip_file"><br><br>
        <label for="coordinates_file">Select a CSV file with meteostation coordinates:</label>
        <input type="file" id="coordinates_file" name="coordinates_file"><br><br>
        <label for="mosquito_life">Vector Lifespan (days):</label>
        <input type="number" id="mosquito_life" name="mosquito_life"><br><br>
        <label for="threshold">Threshold:</label>
        <input type="number" id="threshold" name="threshold"><br><br>
        <label for="requiredDD">Required Degree-Days:</label>
        <input type="number" id="requiredDD" name="requiredDD"><br><br>
        <label for="start_month">Start Month:</label>
        <input type="number" id="start_month" name="start_month"><br><br>
        <label for="end_month">End Month:</label>
        <input type="number" id="end_month" name="end_month"><br><br>
        <input type="submit" value="Upload and Process">
    </form>
</body>
</html>
